.header {
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	// box-shadow: 0px 0px 10px 5px  red;
	backdrop-filter: blur(5px);
	background: transparent;
	
	.content {
		padding-block: 10px;
		display: flex;
		justify-content: space-between;
		align-items: center;

		// !nav
		nav > ul {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 25px;

			li {
				list-style-type: none;
				padding: 0;
				margin: 0;
				color: #fff;
				text-align: center;
				font-weight: 750;
				font-size: 14px;
				position: relative;
				cursor: grab;

				&::after {
					content: "";
					position: absolute;
					left: 0;
					bottom: -5px;
					width: 0;
					height: 2px;
					background-color: #8176af;
					transition: width 0.5s ease-in-out;
				}

				&:hover::after,
				&.active::after {
					width: 100%;
				}
			}
		}

		// !logg
		.logo {
			display: flex;
			justify-content: space-between;
			align-items: center;

			image {
				width: 102px;
				height: 103px;
				top: 50px;
				left: 84px;
				padding: 0px 0.01px 0.07px 0px;
			}

			h1 {
				color: #fff;
				font-size: 40px;
				cursor: pointer;
				font-weight: 500;
				background: linear-gradient(
					to right,
					hsl(279, 33%, 27%) 0%,
					hsl(270, 8%, 95%) 10%,
					hsl(273, 49%, 40%) 20%
				);
				background-clip: text;
				-webkit-background-clip: text;
				-webkit-text-fill-color: transparent;
				animation: shine 10s infinite linear;

				&:hover {
					animation: none;
				}
			}

			@keyframes shine {
				0% {
					background-position: 0;
				}
				60% {
					background-position: 600px;
				}
				100% {
					background-position: 700px;
				}
			}
		}
		// !Buttons
		.buttons {
			display: flex;
			justify-content: space-between;
			align-items: center;
			gap: 20px;
			.btn_1 {
				color: #fff;
				background: transparent;
				width: 154px;
				height: 48px;
				border-radius: 40px;
				border: 2px 0px 0px 0px;
				&:hover {
					transition: 0.5s;
					box-shadow: 0px 0px 5px 5px #8176af;
					border: none;
					color: #8176af;
					cursor: pointer;
				}
			}
			.btn_2 {
				background: rgba(103, 8, 137, 0.218);
				color: #8176af;
				font-weight: 700;
				width: 155px;
				height: 48px;
				border-radius: 40px;
				border: 1px solid #8176af;

				&:hover {
					transition: 0.5s;
					box-shadow: 0px 0px 5px 5px #f7f6f8;
					border: none;
					color: white;
					cursor: pointer;
				}
			}
		}
	}
}
